ion-content {
  margin: 0 auto;
  box-sizing: border-box;
  color: white !important;
  font-weight: bold;
}

#listHuerto{
  text-align: center;
  background-color: transparentize(darken((color($colors,primary)),10%),0.2) !important;
  box-shadow: 7px 7px 7px (color($colors,dark1));
  border-radius: 0 20px 0 20px;
  margin:2% 0 5% 0 !important;
  padding: 5% 0 5% 0 !important;
}
.toolbar-title{
  font-weight:bolder !important;
  font-size:250% !important;
}

.listHuerto {
  background-color: transparent !important;
  padding: 2%;
}

.itemListHuerto {
  color: black !important;
  opacity: 1;
  font-weight: bold;
  font-size: 150%;
  box-shadow: 5px 5px 5px (color($colors,secondary1));
  border-radius: 0 20px 0 20px;
  background-color: transparentize((color($colors,primary)),0.2) !important;
}
