ion-content {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: lighten(#007aff,20%) !important;
  color: white !important;
  font-weight: bold;
}
.listHuerto{
  color: white !important;
  opacity: 1;
  font-weight: bold;
  text-align: center;
  font-size: 200%;
  width: 100%;
  padding: 1.5% 0 1.5% 0;
  background-color: darken(#007aff,20%)!important;
  &:hover{
    background-color: darken(#007aff,40%) !important;
  }
}
