ion-content {
  margin: 0 auto;
  box-sizing: border-box;
  color: white !important;
  font-weight: bold;
}
.toolbar-title{
  font-weight:bolder !important;
  font-size:250% !important;
}

.listHuerto {
  background-color: transparent !important;
}

.itemListHuerto {
  color: black !important;
  opacity: 1;
  font-weight: bold;
  font-size: 150%;
  border-bottom:3px groove color($colors,dark) !important;
  border-left:3px groove color($colors,dark) !important;
  border-radius: 0 20px 0 20px;
  background-color: transparentize((color($colors,primary1)),0.2) !important;
}
