// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(http://fonts.googleapis.com/css?family=Oxygen);
$font-family-base: "Oxygen", sans-serif !default;

#mainContent{
  background-image: url("../assets/img/mainBg.jpg");
  background-size: cover;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color:color($colors,light);
}
ion-content{
  background-color: transparent !important;
}
.toolbar-background{
    background-color: transparentize((color($colors,dark1)),0.2) !important;
}
.toolbar-title{
color: white !important;
}
button{
  border-radius: 20px !important;
}
